:root{
		--main-color: #DFC800;
		--main-back-color: #eee;
		--dark-color: #424242;
		--light-color: #C4C4C4;
		--second-color: rgba(133, 117, 74, 0.31);
		--row-back-second: #F6F6F6;
		--serv-color:#E5E5E5;
		--selected-color: #85754A;
		--border-radius: 4px;
		
		--control: #86764B;
		--control-hover: var(--dark-color);
		--control-active: #000000;
	}